/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #000000;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff; /* Cor do texto dos botões */
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    opacity: 0.8;
}

.container {
    max-width: 600px;
    margin: 60px auto 20px auto; /* Adiciona margem no topo para compensar o botão fixo */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
}

/* Estilos para o botão de voltar */
.back-button {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #000000; /* Cor preta */
    color: #fff; /* Cor do texto em branco para contraste */
    border: none;
}

.back-button:hover {
    background-color: #333; /* Cor de hover para preto mais escuro */
}

/* Estilos para o botão de clique */
.button {
    background-color: #25D366; /* Cor do botão do WhatsApp */
}

.button:hover {
    background-color: #860000; /* Cor de hover do botão do WhatsApp */
}

/* Media Queries para telas menores */
@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 20px;
    }

    .button {
        font-size: 14px;
        padding: 8px 15px;
    }

    .back-button {
        font-size: 14px;
        padding: 8px 15px;
    }
}
