/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: Arial, sans-serif;
    background-image: url('https://mayconbrown.com.br/img/svg/fundo-site.svg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container principal */
.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px; /* Aumentado de 20px para 40px */
    max-width: 90%;
    width: 800px; /* Aumentado de 400px para 800px */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribui o espaço entre o conteúdo principal e o rodapé */
}

/* Cabeçalho */
header {
    text-align: center;
    margin-bottom: 40px; /* Aumentado de 20px para 40px */
}

h1 {
    color: #333;
    font-size: 48px; /* Aumentado de 24px para 48px */
}

/* Área principal */
main {
    text-align: center;
    flex: 1; /* Permite que o conteúdo principal expanda para ocupar o espaço disponível */
}

p {
    margin-bottom: 40px; /* Aumentado de 20px para 40px */
    color: #666;
    font-size: 24px; /* Aumentado para melhorar a legibilidade */
}

/* Botões */
.button-container {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Aumentado de 10px para 20px */
}

.btn {
    display: inline-block;
    padding: 20px 40px; /* Aumentado de 10px 20px para 20px 40px */
    font-size: 32px; /* Aumentado de 16px para 32px */
    text-decoration: none;
    color: #fff;
    border-radius: 10px; /* Aumentado de 5px para 10px */
    text-align: center;
    transition: background-color 0.3s ease;
}

.btn-32bit {
    background-color: #007bff;
}

.btn-32bit:hover {
    background-color: #0056b3;
}

.btn-64bit {
    background-color: #d30f0f;
}

.btn-64bit:hover {
    background-color: #4b0505;
}

/* Rodapé e imagem */
footer {
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-top: 40px; /* Aumentado de 20px para 40px */
}

.image-container img {
    max-width: 100%;
    height: auto;
    width: 100%; /* Garantia que a imagem se ajusta ao tamanho da container */
    border: 2px solid red; /* Adicionado contorno de 2px vermelho */
}

/* Responsividade */
@media (max-width: 600px) {
    .container {
        width: 100%;
        padding: 30px; /* Aumentado de 15px para 30px */
    }

    .btn {
        font-size: 24px; /* Aumentado de 14px para 24px */
        padding: 15px 30px; /* Aumentado de 8px 16px para 15px 30px */
    }
}

/* Estilo para o botão de instalação */
#install-button {
    display: none;
    position: fixed;
    bottom: 150px; /* Ajusta para ficar no rodapé */
    left: 50%;
    transform: translateX(-50%);
    background-color: #28a745;
    color: white;
    padding: 15px 25px;
    font-size: 16px;
    border-radius: 50px;
    border: none;
    z-index: 1100; /* Mantém o botão acima dos outros elementos */
    cursor: pointer;
}

#install-button:hover {
    background-color: #218838;
}
